.vercel
.env
.env*.local

server/temp-uploads/
server/storage/
server/highlight-videos/
server/analysis-results/
node_modules
uploads/
highlights/
dist/
.DS_Store
google-key.json
*.pt
__pycache__/
*.pyc
etc/
src/imports/**/*.html
src/imports/pasted_text/
